//Main Layout file used by all pages
doctype
html
    head
        link(href="favicon.ico", rel="shortcut icon")
        link(href="/css/bootstrap.css", rel="stylesheet" type="text/css")
        link(href="/vendor/toastr/toastr.css", rel="stylesheet" type="text/css")
        link(href="/css/styles.css", rel="stylesheet" type="text/css")
    body
        block main-content
        include scripts